This youtube client pulls data from youtube data API and gets trailer and the stats for the trailer given the title of the movie

In [15]:
import os
import pandas as pd
import numpy as np
import re
import google.oauth2.credentials

import google_auth_oauthlib.flow
from googleapiclient.discovery import build
from googleapiclient.errors import HttpError
from google_auth_oauthlib.flow import InstalledAppFlow

In [7]:
dfs = pd.read_excel("MovieName.xlsx")

In [10]:
dfs.shape

(17337, 7)

In [88]:
dfs.isnull().sum()

movieId             0
Year                0
title               0
genres              0
imdb                0
Tmdb                0
Youtubelink     12717
viewCount       13311
likeCount       13367
dislikeCount    13367
commentCount    13387
dtype: int64

In [92]:
dfs.head()

,movieId,Year,title,genres,imdb,Tmdb,Youtubelink,viewCount,likeCount,dislikeCount,commentCount
0,73268,2010,Daybreakers (2010),Action|Drama|Horror|Thriller,433362,19901,IGrpoxBlCNo,1956775,3358,398,1061
1,73319,2010,Leap Year (2010),Comedy|Romance,1216492,25195,HrlQBsd8LsE,2531467,8129,223,548
2,73321,2010,"Book of Eli, The (2010)",Action|Adventure|Drama,1037705,20504,zSMHmtaoXtI,1018472,2551,165,272
3,73744,2010,If You Love (Jos rakastat) (2010),Drama|Musical|Romance,1380130,40660,5Uegsd1onW0,120104,195,78,113
4,73929,2010,Legion (2010),Action|Fantasy|Horror|Thriller,1038686,22894,AVZckbroGsk,537767,2225,126,213

### Get youtube trailer link given title

In [16]:
dfs['viewCount'] = np.nan

In [84]:
DEVELOPER_KEY = 'AIzaSyAe13hInWH9Hc_CuhiVT-dgCDeE2DcphMI'
YOUTUBE_API_SERVICE_NAME = "youtube"
YOUTUBE_API_VERSION = "v3"
CLIENT_SECRETS_FILE = "client_secret.json"
SCOPES = ['https://www.googleapis.com/auth/youtube.force-ssl']

In [64]:
def youtube_search_id(q, max_results=1,order="relevance", token=None, location=None, location_radius=None):

    youtube = build(YOUTUBE_API_SERVICE_NAME, YOUTUBE_API_VERSION,developerKey=DEVELOPER_KEY)

    search_response = youtube.search().list(
    q=q,
    type="video",
    pageToken=token,
    order = order,
    part="id", # Part signifies the different types of data you want 
    maxResults=max_results,
    location=location,
    locationRadius=location_radius).execute()
    
    videoId = []
    
    for search_result in search_response.get("items", []):
        if search_result["id"]["kind"] == "youtube#video":
            videoId.append(search_result['id']['videoId'])
        
    youtube_dict = {'videoId':videoId}

    return youtube_dict

In [ ]:
for row in dfs.itertuples():
    if row.Index >= 573:
        if pd.isna(dfs.at[row.Index, 'Youtubelink']) or pd.isna(dfs.at[row.Index, 'viewCount']):
            title = re.sub(r"[^a-zA-Z0-9]"," ",dfs.at[row.Index, 'title'])
            search_result = youtube_search_id('trailer ' + title )
            videoIds = search_result['videoId']
            relevant_video = (videoIds and videoIds[0]) or None
            dfs.at[row.Index, 'Youtubelink'] = relevant_video
            print(title)
            print(relevant_video)

In [66]:
print(row.Index)

672

### Get stats given youtube link

In [85]:
def get_authenticated_service():
  return build(YOUTUBE_API_SERVICE_NAME, YOUTUBE_API_VERSION,developerKey=DEVELOPER_KEY)

def videos_list_by_id(client, **kwargs):
  response = client.videos().list(
    **kwargs
  ).execute()
  return response

client = get_authenticated_service()

In [86]:
dfs.shape

(17337, 11)

In [79]:
dfs_empty = dfs[dfs.index > 305]

In [80]:
dfs_empty.head()

,movieId,Year,title,genres,imdb,Tmdb,Youtubelink,viewCount,likeCount,dislikeCount,commentCount
306,83138,2010,Erasing David (2010),Documentary,1395183,38409,lIY7c5L2SHw,5576,23,0,2
307,83177,2010,Yogi Bear (2010),Children|Comedy,1302067,41515,7TX2jEdwX2c,421479,551,1113,885
308,83180,2010,Countdown to Zero (2010),Documentary,1572769,50420,vWJN9cZcT64,NaN,NaN,NaN,NaN
309,83264,2010,Band Baaja Baaraat (2010),Comedy|Drama|Musical,1610452,52696,k67ErU7SeIE,NaN,NaN,NaN,NaN
310,83270,2010,Made in Dagenham (2010),Comedy|Drama,1371155,46138,UHvz5kBkD0U,NaN,NaN,NaN,NaN

In [81]:
dfs_empty.shape

(17031, 11)

In [82]:
n = 50  #chunk row size
list_dfs = [dfs_empty[i:i+n] for i in range(0,dfs_empty.shape[0],n)]

In [ ]:
for df in list_dfs:
    print(df.shape)
    youtubelinks = df['Youtubelink'].values.tolist()
    youtubelinks_str = ','.join(str(e) for e in youtubelinks)
    print(youtubelinks_str)
    response = videos_list_by_id(client,
        part='statistics',
        id=youtubelinks_str)
    for i in response['items']:
        if('viewCount' in i['statistics']):
            dfs.loc[dfs['Youtubelink'] == i['id'], 'viewCount'] = i['statistics']['viewCount']
        
        if('likeCount' in i['statistics']):
            dfs.loc[dfs['Youtubelink'] == i['id'], 'likeCount'] = i['statistics']['likeCount']

        #dislike may be disabled for some videos
        if('dislikeCount' in i['statistics']):
            dfs.loc[dfs['Youtubelink'] == i['id'], 'dislikeCount'] = i['statistics']['dislikeCount']

        #comments may be disabled for some videos
        if('commentCount' in i['statistics']):
            dfs.loc[dfs['Youtubelink'] == i['id'], 'commentCount'] = i['statistics']['commentCount']

In [101]:
dfs.isnull().sum()

movieId             0
Year                0
title               0
genres              0
imdb                0
Tmdb                0
Youtubelink     12716
viewCount       13303
likeCount       13358
dislikeCount    13358
commentCount    13378
dtype: int64

In [103]:
dfs = dfs.dropna(subset = ['Youtubelink'])

In [105]:
dfs.shape

(4621, 11)

In [108]:
dfs.isnull().sum()

movieId           0
Year              0
title             0
genres            0
imdb              0
Tmdb              0
Youtubelink       0
viewCount       587
likeCount       642
dislikeCount    642
commentCount    662
dtype: int64

In [109]:
dfs.to_csv('Movie_trailer_data.csv',sep=',')
dfs = pd.read_csv("Movie_trailer_data.csv", sep=',', engine='python')

In [110]:
dfs.shape

(4621, 12)